@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAFAFA;
}

header {
    position: relative;
    width: 100%;
}

nav {
    width: 100%;
    padding: 2vh 4vh;
    height: 5vh;
}

nav #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 0 6vh;
    text-decoration: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.8vh;
}

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top h1 {
    font-size: 35vh;
}

#top #index-title h1 {
    color: #FFE255;
    transition: ease-out .3s;
}

#top #index-title h1:hover {
    color: #FF9F55;
    transition: ease-in .3s;
}

#top {
    text-align: center;
    display: inline-block;
}

#centre {
    padding: 5vh;
}

#centre h2 {
    font-size: 10vh;
    text-align: center;
}

#centre table {
    border-spacing: .4vh;
}

#centre table tr {
    height: 30vh;
    background-color: #FF7155;
}

#centre table th {
    width: 30vh;
    height: 30vh;
}

#centre table th img {
    height: 95%;
}

.socials * {
    margin: 0 0 0.2rem 0.4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.socials a {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.socials a:visited {
    margin: 0;
    text-decoration: none;
}

.socials img {
    width: 2rem;
    height: 2rem;
    margin: -0.2rem 0 0 -2rem;
}

footer {
    position: fixed;
    justify-content: end;
    display: block;
}