@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mukta:wght@800&family=Nanum+Gothic&display=swap');

:root {
    --main-background: #FAFAFA;
    --highlight: #FBEE95;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-background);
    z-index: -10;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

#menu-button {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

#menu-button svg {
    width: 40px;
    height: 40px;
}

nav {
    width: 100%;
    padding: 4.5vh 4vh;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 100;
}

nav #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    margin: 0 6vh;
    text-decoration: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.8vh;
}

.main {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    width: 100%;
    height: 100vh;
    background-color: var(--highlight);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#top #index-title {
    z-index: 5;
}

#top h1 {
    width: auto;
    font: 25vh 'Mukta', sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    text-shadow: 0px 0px 10px #000;
}

#pokeball {
    z-index: 0;    
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#pokeball img{
    width: 400px;
}

#centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh;
    width: 100%;
}

h2#pokemon-title {
    font-size: 8vh;
    text-align: center;
    margin-bottom: 0;
    font-family: 'Lora', serif;
}

#change-pokemon {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 3vh 0;
}

#change-pokemon button {
    font: bold 4vh 'Arial', sans-serif;
    width: 5vh;
    height: 5vh;
    background-color: lightslategrey;
    border-radius: 50%;
    border: none;
    transition: 100ms;
}

#change-pokemon button:hover {
    background-color: lightgrey;
    border-radius: 1vh;
}

.pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
}

.pokemon-grid a {
    text-decoration: none;
    color: black;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 15px;
    width: 100%;
    height: 30vw;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) 100ms;
}

.card:hover {
    transform: scale(1.05);
}

.card-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, var(--highlight), #F8DF95);
    z-index: 0;
    border-radius: 10px;
}

.card-image {
    height: 90%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFF;
    z-index: 5;
}

.card-info {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.card-info h2 {
    text-align: center;
    margin: 0;
    font: bold 3em 'Lora', serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.socials * {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials a {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.socials img {
    width: 2rem;
    height: 2rem;
    margin-right: 10px;
}

footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fancy-underline {
    text-decoration: underline 0.3vh rgba(0, 0, 0, 0);
    transition: 200ms;
}

.fancy-underline:hover,
.fancy-underline:focus {
    text-decoration: underline 0.3vh black;
}

#loading-pokemon {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: 0;
    background: var(--main-background);
}

.loading-poke-content h1 {
    font-size: 5em;
}

.pokemon-page-main {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    padding: 80px 40px;
}

.pokemon-page-main p {
    margin: 0 0 5px;
    font: 1em sans-serif;
}

.pokemon-page-main h1,
.pokemon-page-main h2 {
    margin: 10px 0 6px;
}

.pokemon-page-main h1 {
    font-size: 3em;
}

.pokemon-page-main h2 {
    font-size: 2em;
}

.pokemon-page-main > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemon-page-info img {
    height: 80%;
    width: auto;
}

.pokemon-page-info-text ul {
    margin: 0 0 5px;
}

.pokemon-page-stats {
    flex-direction: column;
}

.pokemon-page-moves {
    grid-column: span 2;
    flex-direction: column;
}

.pokemon-move-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.pokemon-move {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font: bold 1em sans-serif;
}

.pokemon-move:nth-of-type(odd) {
    background-color: orange;
}

.pokemon-move:nth-of-type(even) {
    background-color: orangered;
}

.pokemon-type {
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
    padding: 4px 6px;
    border-radius: 5px;
    margin-right: 3px;
}

.pokemon-missing {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
}



@media (max-width: 1200px) {
    #index-title h1 {
        font-size: 15vh;
    }

    #pokeball img {
        width: 300px
    }

    #centre {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .card-info h2 {
        font-size: 2.5em;
    }
}

@media (max-width: 860px) {
    #top h1 {
        font-size: 7vh;
        writing-mode: vertical-lr;
        text-orientation: upright;
    }

    .pokemon-grid {
        grid-template-columns: repeat(3, 24vw);
    }

    h2#pokemon-title {
        font-size: 6vh;
    }

    .card-info h2 {
        font-size: 2em;
    }

    header nav {
        scale: 0;
    }

    header #menu-button {
        display: block;
    }

    .pokemon-page-main {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .pokemon-page-main > * {
        flex-direction: column;
    }

    .pokemon-move-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .loading-poke-content h1 {
        font-size: 2.5em;
    }
    
    .pokemon-page-main {
        padding: 40px 0;
    }

    .pokemon-page-info-text h1 {
        font-size: 2.5em;
    }

    .pokemon-move-list {
        padding: 0;
        grid-template-columns: 1fr;
    }

    .card-info h2 {
        font-size: 1em;
    }

    #pokeball img {
        width: 160px;
    }
}