@import url('https://fonts.googleapis.com/css2?family=Lora&family=Nanum+Gothic&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAFAFA;
}

header {
    position: relative;
    width: 100%;
}

nav {
    background-color: #FFE255;
    width: 100%;
    padding: 2vh 4vh;
    height: 5vh;
}

nav #links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    padding: 0 6vh;
    text-decoration: none;
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.8vh;
}

.main {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top {
    width: 100%;
    height: 100vh;
    background-color: #FFE255;
}

#top h1 {
    font-size: 35vh;
    color: #FFFFFF;
    transition: ease-out .3s;
}

#top {
    text-align: center;
    display: inline-block;
}

#centre {
    padding: 5vh;
}

#centre h2 {
    font-size: 8vh;
    text-align: center;
    margin-bottom: 1vh;
    font-family: 'Lora', serif;
}

#centre table {
    border-spacing: .2vh;
}

#centre table tr {
    height: 30vh;
}

#centre table > tr:nth-of-type(odd) {
    background-color: #FF7155;
}

#centre table > tr:nth-of-type(even) {
    background-color: #f15045;
}

#centre table th {
    width: 30vh;
    height: 30vh;
}

#centre table th img {
    height: 90%;
    padding: 0.5vh;
    background-color: #FFFFFF;
}

.socials * {
    margin: 0 0 0.2rem 0.4rem;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.socials a {
    color: black;
    font-family: 'Nanum Gothic', sans-serif;
}

.socials a:visited {
    margin: 0;
    text-decoration: none;
}

.socials img {
    width: 2rem;
    height: 2rem;
    margin: -0.2rem 0 0 -2rem;
}

footer {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
